gradio==4.29.0
accelerate
transformers
torchvision
xformers
accelerate
invisible-watermark
huggingface-hub
hf-transfer
gradio_imageslider==0.0.20
compel
opencv-python
numpy
diffusers==0.27.0
transformers
accelerate
safetensors
hidiffusion==0.1.8
spaces
torch==2.2
controlnet-aux==0.0.9